body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(119, 196, 219);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #1295ac;
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #207f9c;
    color: white;
}

select {
    padding: 5px;
}